<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <div id='app'>
        <form>
        <div class="form-row">
          <div class="col" >
            <input type="text" v-model="no" class="form-control"><br />
          </div>
          <div class="col">
            <input type="text" v-model="name"  class="form-control"><br />
          </div>
          <div class="col" v-show="isAdd">
            <button type="button" class="btn btn-primary" @click="Add">新增</button>
          </div>
          <div class="col" v-show="!isAdd">
            <button type="button" class="btn btn-primary" @click="Modify">修改</button>
            <button type="button" class="btn btn-primary" @click="Cancel">刪除</button>
          </div>
        </div>
      </form>
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">學號</th>
            <th scope="col">姓名</th>
            <th scope="col">操作</th>
          </tr>
        </thead>
        <tbody v-if="students.length > 0">
          <tr v-for="(item,index) in students" :key="item.no">
          <td>{{ index }}</td>
          <td>{{ item.no }}</td>
          <td>{{ item.name }}</td>
          <td>
              <button type="button" @click="Edit(index)" class='btn btn-primary'>修改</button>
              <button type="button" @click="del(index)" class='btn btn-danger'>刪除</button>
          </td>

        </tr>
       </table>
      </div>
    </div>
    
   

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script>
        var vm=new Vue({
              el: '#app',
              data: {              
                  students: [],
                  no: '',
                  name: '',                
                  isAdd: true,
                  modifyid: '',           
              },
              methods:{
                Add(){
                  this.students.push({no:this.no, name:this.name});
                  this.Cancel();
                 
                },
                Edit(index){
                    this.no = this.students[index].no;
                    this.name = this.students[index].name;
                    this.isAdd = false;
                    this.modifyid = index;
                },
                del(index){
                  this.Cancel();
                  this.students.splice(index, 1);
                },
                Modify(){
                  this.students[this.modifyid].no=this.no;
                  this.students[this.modifyid].name=this.name;
                  this.Cancel();
                },
                Cancel(){
                  this.isAdd = true;
                  this.no = '';
                  this.name = '';
                  this.modifyid = '';
                }
              }
            })
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>